NEXT_PUBLIC_SUPABASE_URL=https://rwqjplbxyntqylfnwzqq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NEXT_PUBLIC_ADMIN_API_URL=https://thirdeyenews-admin-website.vercel.app
NEXT_PUBLIC_ADMIN_API_TOKEN=your_api_access_token
ADMIN_API_URL=https://thirdeyenews-admin-website.vercel.app
ADMIN_API_TOKEN=your_api_access_token
R2_ENDPOINT=https://aac3ff53cff9e3877e8b3098f772b81a.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_BUCKET_NAME=thirdeyenews
R2_PUBLIC_URL=https://pub-7a1a77e5d8f3444d931ce51a542a8b7d.r2.dev
