NEXT_PUBLIC_SUPABASE_URL=https://rwqjplbxyntqylfnwzqq.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_-6P2Qj3xwnCZ7LePbYSPAw_ic4Jg3dF
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3cWpwbGJ4eW50cXlsZm53enFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk1MTAwMjMsImV4cCI6MjA5NTA4NjAyM30.Jd--Z1XYt6r6EdlVaOJCXiVdSF2RZQW1Zc0mCQhsuH4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3cWpwbGJ4eW50cXlsZm53enFxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTUxMDAyMywiZXhwIjoyMDk1MDg2MDIzfQ.O8O7cS_VPMsibfl5fAtEIkUkginE2sviauGBfM6tUPI
DATABASE_URL=postgresql://postgres.vcnpigltgpzlyowdhezk:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:6543/postgres
R2_ENDPOINT=https://aac3ff53cff9e3877e8b3098f772b81a.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_BUCKET_NAME=thirdeyenews
R2_PUBLIC_URL=https://pub-7a1a77e5d8f3444d931ce51a542a8b7d.r2.dev
